<div class="span9">
  <h1>Streams</h1>

  <div class="row-fluid">
    <ul class="thumbnails">
      <%= partial("streams/_stream"); %>
      <%= partial("streams/_stream"); %>
      <%= partial("streams/_stream"); %>
    </ul>
    <ul class="thumbnails">
      <%= partial("streams/_stream"); %>
      <%= partial("streams/_stream"); %>
      <%= partial("streams/_stream"); %>
    </ul>
  </div>
</div>
