<div class="container" id="logo-container">
  <a class="brand" href="/">
    <img src="/img/logo.png" alt="Point Gaming" />
  </a>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <%- navItem({ path: "/home", currentPath: currentPath, also: ["/"], name: "Home" }); %>
          <%- navItem({ path: gamesPath, currentPath: currentPath, name: "Games" }); %>
          <%- navItem({ path: leaguesPath, currentPath: currentPath, name: "Leagues" }); %>
          <%- navItem({ path: tournamentsPath, currentPath: currentPath, name: "Tournaments" }); %>
          <%- navItem({ path: streamsPath, currentPath: currentPath, name: "Streams" }); %>
          <%- navItem({ path: "/store", currentPath: currentPath, name: "Store" }); %>
          <%- navItem({ path: "/forums", currentPath: currentPath, name: "Forums" }); %>
          <%- navItem({ path: "/faq", currentPath: currentPath, name: "FAQ" }); %>
        </ul>

        <ul class="nav pull-right">
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search" />
          </form>

          <% if (currentUser) { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= currentUser.username %> (500) <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/settings">Settings</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          <% } else { %>
            <li>
              <a href="/login">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
