<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">
        Community
      </li>
      <%- sidebarItem({ path: newsPath, currentPath: currentPath, also: ["/"], name: "News" }); %>
      <%- sidebarItem({ path: gamesPath, currentPath: currentPath, name: "Games" }); %>
      <%- sidebarItem({ path: betsPath, currentPath: currentPath, name: "Bets" }); %>
      <%- sidebarItem({ path: tournamentsPath, currentPath: currentPath, name: "Tournaments" }); %>
      <%- sidebarItem({ path: streamsPath, currentPath: currentPath, name: "Streams" }); %>
      <li>
        <a href="/store">Store</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="/forums">Forums</a>
      </li>
    </ul>
  </div>
</div>
