<div class="well" style="padding: 8px 0; width: 270px; float: left;">
  <ul class="nav nav-list">
    <%- navItem({ path: "/settings/subscription", currentPath: currentPath, name: "Subscription", also: ["/settings", "/settings/index"]}); %>
    <%- navItem({ path: "/settings/billing", currentPath: currentPath, name: "Billing Information"}); %>
    <%- navItem({ path: "/settings/clans", currentPath: currentPath, name: "Clans"}); %>
    <%- navItem({ path: "/settings/tournaments", currentPath: currentPath, name: "Tournaments"}); %>
    <%- navItem({ path: "/settings/leagues", currentPath: currentPath, name: "Leagues"}); %>
    <%- navItem({ path: "/settings/streams", currentPath: currentPath, name: "Streams"}); %>
    <%- navItem({ path: "/settings/disputes", currentPath: currentPath, name: "Disputes"}); %>
    <%- navItem({ path: "/settings/bets", currentPath: currentPath, name: "Bet History"}); %>
    <%- navItem({ path: "/settings/history", currentPath: currentPath, name: "Billing History"}); %>
    <%- navItem({ path: "/admin", currentPath: currentPath, name: "Admin"}); %>
    <%- navItem({ path: "/news", currentPath: currentPath, name: "Add Edit News (Home)"}); %>
  </ul>
</div>
